{{ define "elementList" }}
{{ template "header" }}
list
{{ range . }}
{{ . }}
{{ end }}
{{ template "footer" }}
{{ end }}

{{ define "element" }}
{{ template "header" }}
element
{{ .Name }}
{{ .Created_at | formatTime}}

{{ template "footer" }}
{{ end }}

{{ define "elementForm" }}
{{ template "header" }}
<div class="col-lg-6">
    <form method="POST" action="{{ if .Id }}/admin/page/update/{{ .Id }}{{else}}/admin/page/create{{ end }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ .Name }}">
        </div>
        <div class="form-group">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" id="alias" name="alias" value="{{ .Alias }}">
        </div>
        <div class="form-group">
            <label for="preview">Preview</label>
            <textarea class="form-control" rows="4" id="preview" name="preview">{{ .Preview }}</textarea>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="4" id="description" name="description">{{ .Description }}</textarea>
        </div>
        <div class="form-group">
            <label for="visible"></label>
            <input type="checkbox" id="visible" name="visible" {{ if .Visible }} checked{{ end }}> Visible
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id" value="{{ .Id }}">
            <button type="submit" class="btn btn-default">{{ if .Id }}Update{{else}}Create{{ end }}</button>

        </div>
    </form>
</div>
{{ template "footer" }}
{{ end }}